<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ru.job4j.storeauto.servlets.LoginController</servlet-class>
    </servlet>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>ru.job4j.storeauto.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/page/auth</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>ru.job4j.storeauto.servlets.DataServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdvert</servlet-name>
        <servlet-class>ru.job4j.storeauto.servlets.AddAdvertController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/page/auth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/page/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdvert</servlet-name>
        <url-pattern>/page/add</url-pattern>
    </servlet-mapping>

</web-app>